@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* ================= VARIÁVEIS ================= */
:root {
    --cor-primaria: #D67D3E;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #F9E4D4;
    --cor-hover: #272727;

    --cor-rodape: #9C0F48;
    --cor-footer: #040404;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    b
